@import '../../styles/index.scss';

@mixin useFlexColumn {
    display: flex;
    flex-direction: column;
}

.dashboard {
    display: flex;
    height: 100%;

    color: $DARK-COLOR;

    .aside {
        @include useFlexColumn;
        max-width: 286px;
        min-width: 286px;

        .asideCard {
            &:not(:last-child) {
                margin-bottom: $BLOCK-GAP;
            }
        }
    }

    .main {
        @include useFlexColumn;
        margin-left: $BLOCK-GAP;
        flex: 1;

        .toolbar {
            margin-bottom: $BLOCK-GAP;
            background-color: $LIGHT-COLOR;
            border-radius: 24px;
            max-width: 220px;

            & > div > div {
                border: none;
            }
        }

        .mainSection {
            @include useMainSectionStyles;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #cecece;
                border-radius:16px;

                &:hover {
                    background-color: #a8a8a8;
                    opacity: .6;
                }
            }
        }
    }
}