@import '../../styles/index.scss';

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;

    color: $DARK-COLOR;


    .aside {
        display: flex;
        margin-bottom: $BLOCK-GAP;

        @include sm {
            flex-direction: column;
        }

        .asideCard {
            width: 100%;
            max-width: 286px;

            @include sm {
                max-width: none;
            }


            &:not(:last-child) {
                margin-right: $BLOCK-GAP;
                @include sm {
                    margin-right: 0;
                    margin-bottom: $BLOCK-GAP;
                }
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-bottom: $BLOCK-GAP;

        .toolbar {
            margin-bottom: $BLOCK-GAP;
            background-color: $LIGHT-COLOR;
            border-radius: 24px;
            max-width: 220px;

            @include sm {
                max-width: none;
            }

            & > div > div {
                border: none;
            }
        }

        .mainSection {
            @include useMainSectionStyles;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #cecece;
                border-radius:16px;

                &:hover {
                    background-color: #a8a8a8;
                    opacity: .6;
                }
            }
        }
    }
}