@import '../../../styles/index.scss';

.selectWrapper {
    width: 100%;
    position: relative;

    .select {
        border-radius: 24px;
        border: 2px solid $DARK-COLOR;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        min-height: 36px;
        width: 100%;
        opacity: .6;
        cursor: pointer;

        .selected {
            font-size: 14px;
            line-height: 18px;
            @include textOverflow(1);
        }

        svg {
            @include useLowTransition;

            min-width: 13px;
            min-height: 13px;
        }
    }

    .options {
        @include useDropShadow;
        @include useLowTransition;
        background-color: $LIGHT-COLOR;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 0;
        top: -12px;
        width: 100%;
        transform: translateY(-100%);
        z-index: 2;
        border-radius: 12px;
        padding: 12px;

        .noGroups {
            font-size: 12px;
            text-align: center;
            margin-bottom: 24px;
        }

        .hr {
            display: inline-block;
            background-color: #EFEFEF;
            height: 2px;
            width: 100%;
            border-radius: 2px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .newGroupInput {
            display: flex;
            margin: 18px 0;

            input {
                border-color: $DARK-COLOR;
                font-size: 13px;
            }

            label {
                font-size: 13px;
            }
        }

        .newGroupButton {
            display: flex;
            justify-content: center;
        }

        .optionsList {
            max-height: 152px;
            overflow-y: scroll;
            margin-right: -6px;
            padding-right: 6px;

            .optionsItem {
                font-size: 13px;
                padding: 10px 6px;
                line-height: 18px;
                cursor: pointer;
                @include useLowTransition;
                border-radius: 6px;

                &:hover {
                    background-color: #EFEFEF;
                }
            }

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #EFEFEF;
                border-radius:16px;

                &:hover {
                    background-color: #c6c6c6;
                    opacity: .6;
                }
            }

        }
    }

    &.active {

        .select {
            svg {
                transform: rotate(180deg);
            }
        }

        .options {
            visibility: visible;
            opacity: 1;
        }
    }
}