@import '../../../styles/index.scss';

.button {
    all: unset;
    background: $MAIN-GRADIENT;
    color: $LIGHT-COLOR;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    min-height: 36px;
    padding: 0 48px;
    text-align: center;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include useLowTransition;

    &.disable {
        opacity: .6;
        pointer-events: none;
    }
}