@import '../../../styles/index.scss';

.passwordForm {

    .passwordFormContainer {
        max-width: 320px;
        padding: 32px 0;
        margin: auto;

        .passwordFormTitle {
            font-weight: 700;
            font-size: 17px;
            text-align: center
        }

        .form {
            @include useFormStyles;
        }
    }
}