@import '../../../styles/index.scss';

.inputWrapper {
    position: relative;
    width: 100%;

    label {
        font-size: 14px;
        position: absolute;
        top: 50%;
        left: 6px;
        transform: translateY(-50%);
        @include useLowTransition;
        opacity: .6;
    }

    input {
        all: unset;
        height: 36px;
        padding: 0 6px;
        width: 100%;
        border-bottom: 2px solid $LIGHT-COLOR;
        opacity: .6;
        font-size: 16px;
        box-sizing: border-box;

        &:not(:placeholder-shown), &:focus {
            opacity: 1;

            & ~ label {
                top: -4px;
                font-size: 12px;
            }
        }
    }

    .eye {
        all: unset;
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        width: 17px;
        height: 17px;
        cursor: pointer;

        &.hide::after {
            content: '';
            position: absolute;
            bottom: 7.5px;
            left: 1px;
            width: 16px;
            height: 2px;
            border-radius: 2px;
            background-color: $LIGHT-COLOR;
            transform: rotate(-45deg);
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}