@mixin useLowTransition {
    transition: all .3s ease-in-out;
}

@mixin useDropShadow {
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}

@mixin useMainSectionStyles {
    @include useDropShadow;
    padding: 26px;
    background-color: $LIGHT-COLOR;
    height: 100%;
    border-radius: 24px;

    @include sm {
        padding: 12px;
    }
}

@mixin useFormStyles {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 48px;
        width: 100%;

        .formContainer {
            width: clamp(300px, 80%, 315px);
            padding: 0 10px;

            .formItem {
                display: flex;
                justify-content: center;

                &:not(:last-child) {
                    margin-bottom: 24px;
                }

                &:last-child {
                    margin-top: 48px;
                }
            }
        }
}

@mixin textOverflow($lineClamp) {
    display: -webkit-box;
    -webkit-line-clamp: $lineClamp;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

// ------------ Media ------------


@mixin lg {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin sm {
    @media (max-width: 580px) {
        @content;
    }
}