$MAIN-GRADIENT: linear-gradient(144.99deg, #FB5478 -0.77%, #FE7D6A 100.4%);

$MAIN-BACKGROUND: #F9FAFA;

$LIGHT-COLOR: #FFFFFF;
$DARK-COLOR: #000000;

$DANGER-COLOR: #DE3535;

$NAVBAR-HEIGHT: 86px;
$BLOCK-GAP: 20px;